{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>TwitterアカウントIDコンバーター</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script src="{% static 'twitter_id_converter/main.js' %}"></script>

        <meta name="google-site-verification" content="XgVpJ5azAN2UwYSHRfKnJIPYVFtsNVnZRzKiLDfebX8">
        <script src="{% static 'js/google-analytics.js' %}"></script>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <h1>TwitterアカウントIDコンバーター</h1>
                <p>Twitterアカウントのスクリーンネーム (「@twitter」の「twitter」部分) とユーザーIDを一括変換するサービスです。</p>
                <p>テキストボックスに1行1ユーザーで入力して下のボタンを押してください。
                    一定時間に使えるAPIのリクエスト数は限られているので、プログラムを使った過剰なリクエストは避けてください。</p>
                <p><a href="https://twitter.com/skrmch_rhythpri">作者: さくらもち(@skrmch_rhythpri)</a></p>
            </div>
            <div class="row mb-3">
                <div class="col text-center">
                    <button class="btn btn-secondary mr-3" id="btn_convert_screen_names">スクリーンネーム → ID</button>
                    <button class="btn btn-secondary" id="btn_convert_ids" disabled>スクリーンネーム ← ID (未実装)</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="screen_names">スクリーンネーム(@名前)</label>
                    <textarea class="form-control" name="screen_names" id="screen_names" cols="30" rows="20"
                              placeholder="twitter&#10;skrmch_rhythpri&#10;kinpri_pr&#10;pripara_pr"></textarea>
                </div>
                <div class="col">
                    <label for="ids">ID</label>
                    <textarea class="form-control" name="ids" id="ids" cols="30" rows="20"
                              placeholder="783214&#10;717727102171107329&#10;3755121078&#10;2420201479"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>
